/* Importando a tipografia */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Teko:wght@600&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
}

/* Variaveis CSS */
:root {
    --font_teko: 'Teko', sans-serif;
    --font_raleway: 'Raleway', sans-serif;
    --verde: #5C8471;
    --branco_pastel: #FFFAF1;

}

.alinhamento {
    width: 1440px;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: var(--verde);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 300px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 600px;
    list-style: none;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font_raleway);
    font-weight: 900;
}

.menu a:hover {
    border-bottom: 2px solid var(--branco_pastel);
    color: var(--branco_pastel);

}

/* Quem somos */
main {
    background-color: var(--branco_pastel);
}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.quem_somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.primeira_foto {
    width: 700px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
}

.sobre {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sobre_titulo {
    font-family: var(--font_teko);
    color: var(--verde);
    font-size: 60px;
    text-transform: uppercase;
}

.sobre_texto {
    font-family: var(--font_raleway);
    font-size: 25px;
}

.btn_esg {
    background-color: #275937;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    font-size: 25px;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.4);
}

.btn_esg a {
    color: white;
    text-decoration: none;
}

/* Data de lançamento */
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font_teko);
    font-size: 80px;
    color: var(--branco_pastel);
    background-color: var(--verde);
    padding: 100px;
    text-align: center;
}

span {
    text-transform: uppercase;
}

/* ESG */
.esg {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

.sobre_esg {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sobre_esg_titulo {
    font-family: var(--font_teko);
    font-size: 60px;
}

.sobre_esg_texto {
    font-family: var(--font_raleway);
    font-size: 30px;
}

.foto_esg {
    max-width: 500px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
}

/* Formulario */
.formulario {
    background-color: var(--verde);
    padding: 100px 0;

}

.formulario_titulo {
    font-family: var(--font_teko);
    font-size: 60px;
    color: var(--branco_pastel);
    text-align: center;
    margin: 15px;
}

form {
    color: white;
    font-family: var(--font_raleway);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;

}

label {
    font-size: 25px;

}

input {
    height: 35px;
    padding: 20px;

}

textarea {
    padding: 20px;
}

.borda {
    border: 1px solid var(--branco_pastel);
    border-radius: 15px;
}

.btn_forms {
    background: white;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: var(--verde);
    margin: 0 auto;
}

/* Contato */

.mapa {
    width: 580px
}

.contato {
    padding: 100px 0;
}

.contato_titulo {
    font-family: var(--font_teko);
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.conteudo_contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.borda_mapa {
    border: 5px solid var(--verde);
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato_info {
    font-family: var(--font_raleway);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info>i {
    margin-right: 20px;
    color: var(--verde);
}

/* Footer */
footer {
    background-color: rgba(40, 26, 19, 100%);
    color: #FFF;
    font-family: var(--font_raleway);
    font-size: 19px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Responsividade

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px ou 1200px
Grande telas: acima de 1200px */

@media screen and (max-width: 1440px) {
    .alinhamento {
        width: 100%;
    }

    nav {
        padding: 0 50px;
    }

    .sobre {
        max-width: 500px;
    }

    .quem_somos {
        padding: 100px 50px;
    }

    .imgs {
        flex-wrap: wrap;
    }
}

.sobre_esg_texto {
    font-size: 26px;
}

.esg img {
    width: 50%;
}

.esg {
    padding: 100px 50px;
}

@media screen and (max-width: 1200px) {
    .primeira_foto {
        width: 550px;
    }

    .esg img {
        width: 45%;
    }

    .sobre_esg {
        width: 450px;
    }

    .sobre_esg_texto {
        font-size: 22px;
    }
}

@media screen and (max-width: 900px) {
    .nerd_img {
        max-width: 500px;
        height: 500px;
    }

    .titulo_nerd {
        align-self: center;
    }

    .nerd {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .quem_somos {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .sobre {
        margin-top: 30px;

    }

    .imgs {
        gap: 30px;
    }

    .data {
        font-size: 85px;
    }

    .esg {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .sobre_esg {
        width: 580px;
    }

    .conteudo_contato {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

@media screen and (min-width: 900px) {
    #burguer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #burguer {
        display: block;
        color: white;
        font-size: 55px;

    }

    #itens {
        position: absolute;
        /* ViewPort Height (vh) */
        height: 92vh;
        /* ViewPort Width */
        width: 50vw;
        top: 16vh;
        right: 0;
        background-color: var(--verde);
        flex-direction: column;
        align-items: center;
        gap: 50px;

    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    data {
        font-size: 70px;
    }

    .titulo_data {
        align-items: center;
        max-width: 200px;
    }
}

@media screen and (max-width: 580px) {

    .primeira_foto {
        width: 450px;
    }

    .data {
        font-size: 45px;
    }

    .esg img {
        width: 70%;
    }

    .sobre_esg_texto {
        padding: 0 40px;
    }

    .mapa {
        width: 400px;
    }

    .borda_mapa {
        width: 480px;
    }

    .conteudo_contato {
        align-items: center;
        justify-content: center;
    }
}

.titulo_carrossel {
    font-family: var(--font_teko);
    color: var(--verde);
    font-size: 60px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.nerd {
    color: var(--branco_pastel);
    background-color: var(--verde);
    display: flex;
    padding: 100px;
    margin: 100px 0;
}

.texto_jeitonerd {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.titulo_nerd {
    font-family: var(--font_teko);
    font-size: 60px;
}

.texto_nerd {
    font-family: var(--font_raleway);
    font-size: 30px;
}

.nerd_img {
    width: 545px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.4);
}

.dark-mode {
    color: white;
}

.dark-mode>main {
    background-color: #211F1F;
}

.dark-mode>header {
    background-color: #275937;
}

#modo_escuro {
    background: #275937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    width: 90px;
    height: 60px;
    font-size: 25px;
    color: var(--branco_pastel);
    /* margin: 30px 10px auto; */
}

.escuro{
    padding: 10px;
}